/*************************************************
    $   Carrousel
*************************************************/

/* % Général ********************************/

.carrousel {
    height : 280px;
    
    position : relative;
}

/* % Eléments *******************************/

.carrousel .elements {
    height : 280px;
}
