/*************************************************
    $   Carrousel
*************************************************/

/* % Général ********************************/

.carrousel {
    height : 350px;
    
    position : relative;
}

/* % Images *********************************/

.carrousel .images {
    height : 350px;
    width : 66%;
    
    float : left;
}

.carrousel .images .image {
    display : block;

    height : 350px;
}

/* % Curseur ********************************/

.carrousel .curseur {
    margin : 0;
    height : 50px;
    width : 34%;
    
    position : absolute;
    top : 0px;
    right : 0;
    
    background : #eee;
    z-index : 20;
}

.carrousel .curseur > div {
    border : 25px solid transparent;
    border-left-width : 0;
    border-right-color : #eee;
    
    width : 0;
    height : 0;
    
    position : absolute;
    top : 0;
    left : -25px;
}

/* % Liste des éléments *********************/

.carrousel .items {
    margin : 0;
    padding : 0;
    height : 350px;
    width : 34%;
    
    position : relative;
    float : left;
    
    list-style-type : none;
}

.carrousel .items .item {
    margin : 0;
    padding : 5px;
    height : 40px;
    
    position : relative;
    
    overflow : hidden;
    z-index : 20;
}

.carrousel .items .item.active,
.carrousel .items .item:hover {
    background-color : #eee;
}

.carrousel .items .item .illustration {
    margin : 0;
    padding : 0;
    height : 40px;
    width : 76px;
}

.carrousel .items .item p {
    margin : 0 5px 0 0;
    padding : 0;
    height : 40px;
    
    text-align : right;
    line-height : 40px;
    
    color : black;
    font-size : 13px;
    font-family : Verdana, Arial, sans-serif;
}

.carrousel .items .item p a {
    display : inline-block;
    margin : 0;
    padding : 0;
    
    vertical-align : middle;
    line-height : 1.2;
}
