<!-- meta tags sent with each page -->
<!--#begin babMeta -->
<!--#if babLanguage "== fr" -->
<meta name="Description" content="Portail officiel francophone Ovidentia une gestion de publication de contenu et une plateforme collaborative opensource" />
<meta name="Keywords" content="Ovidentia, Gestion de contenu,CMS,Groupware,php,mysql,collaboratif,portail,libre,gratuit,telechargement,forum,france,module,skin,documentation,version" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.ovidentia.org/index.php?tg=oml&file=syndicate/rss-topic.ovml&echo=1&topic=51" />
<!--#else babLanguage -->
<meta name="Description" content="Ovidentia.org is the official website of Ovidentia, an open source content management and collaborative platform" />
<meta name="Keywords" content="ovidentia,portal,generator,groupware,companies,communities,content management,workflow,file sharing,mail,calendar,forum,gpl,free,gnu,wysiwyg,editor,shareable diaries,cantico,add-on,skin,php,mysql,download,documentation,support,tutorial" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.ovidentia.org/index.php?tg=oml&file=syndicate/rss-topic.ovml&echo=1&topic=1" />
<!--#endif babLanguage -->
<meta name="Generator" content="Ovidentia" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Author" content="CANTICO" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<!--#end babMeta -->



<!-- Path to css file used by ovidentia -->
<!--#begin babCss -->
<link rel="stylesheet" title="Default" href="{ babCssPath }" type="text/css" />
<!--#end babCss -->


<!-- left top image  -->
<!--#begin babLogoLT -->
   <a href="http://www.ovidentia.org" target="_blank"><img src="{ babSkinPath }images/Logos/OvidentiaCommunity.gif" alt="Cantico" border="0" /></a> 
<!--#end babLogoLT -->
<!-- right top image  -->
<!--#begin babLogoRT -->
     <a href="http://www.ovidentia.org" target="_blank"><img src="{ babSkinPath }images/Logos/OvidentiaCommunity.gif" alt="Cantico" border="0" /></a>
<!--#end babLogoRT -->

<!-- left bottom image  -->
<!--#begin babLogoLB -->
      <a href="http://www.ovidentia.org" target="_blank"><img src="{ babSkinPath }images/Logos/OvidentiaPowered.gif" alt="Powered by Ovidentia" border="0" /></a>
<!--#end babLogoLB -->

<!-- right bottom image  -->
<!--#begin babLogoRB -->
       <a href="http://www.ovidentia.org" target="_blank"><img src="{ babSkinPath }images/Logos/OvidentiaCommunity.gif" alt="Cantico" border="0" /></a>
<!--#end babLogoRB -->

<!-- banner image  -->
<!--#begin babBanner -->
       <img src="{ babSkinPath }images/Logos/OvidentiaBan.gif" alt="- Ovidentia - Portal Generator -" /> 
<!--#end babBanner -->

<!-- Image used to indicate waiting articles -->
<!--#begin babWaitingArticle --><img src="{ babSkinPath }images/Puces/PuceSectionContribArticle.png" align="middle" border="0" alt="" /><!--#end babWaitingArticle -->

<!-- Image used to indicate waiting comments -->
<!--#begin babWaitingComment --><img src="{ babSkinPath }images/Puces/PuceSectionContribComment.png" align="middle" border="0" alt="" /><!--#end babWaitingComment -->

<!-- Image used to indicate waiting posts -->
<!--#begin babWaitingPosts --><img src="{ babSkinPath }images/Puces/PuceSectionContribPost.png" align="middle" border="0" alt="" /><!--#end babWaitingPosts -->

<!-- Icon section -->
<!--#begin babSectionPuce --><img src="{ babSkinPath }images/Puces/Puce.png" border="0" alt="" align="middle" /><!--#end babSectionPuce -->

<!-- bullet section -->
<!--#begin babSectionBullet --><img src="{ babSkinPath }images/Puces/Puce3PxWhite.png" width="3" height="3" alt="" border="0" /><!--#end babSectionBullet -->

<!-- Image files and folders used by file manager -->

<!--#begin parentfolder -->
<img src="{ babSkinPath }images/Puces/parent.gif" alt="" />
<!--#end parentfolder -->

<!--#begin userfolder -->
<img src="{ babSkinPath }images/Puces/folder.gif" alt="" />
<!--#end userfolder -->

<!--#begin groupfolder -->
<img src="{ babSkinPath }images/Puces/group.gif" alt="" />
<!--#end groupfolder -->

<!--#begin managerfolder -->
<img src="{ babSkinPath }images/Puces/manager.gif" alt="" />
<!--#end managerfolder -->

<!--#begin .unknown -->
<img src="{ babSkinPath }images/Puces/defaut.gif" alt="" />
<!--#end .unknown -->

<!--#begin .doc -->
<img src="{ babSkinPath }images/Puces/doc.gif" alt="doc" />
<!--#end .doc -->

<!--#begin .txt -->
<img src="{ babSkinPath }images/Puces/txt.gif" alt="txt" />
<!--#end .txt -->

<!--#begin .gif -->
<img src="{ babSkinPath }images/Puces/gif.gif" alt="gif" />
<!--#end .gif -->

<!--#begin .avi -->
<img src="{ babSkinPath }images/Puces/avi.gif" alt="avi" />
<!--#end .avi -->

<!--#begin .bmp -->
<img src="{ babSkinPath }images/Puces/bmp.gif" alt="bmp" />
<!--#end .bmp -->

<!--#begin .pdf -->
<img src="{ babSkinPath }images/Puces/pdf.gif" alt="pdf" />
<!--#end .pdf -->

<!--#begin .html -->
<img src="{ babSkinPath }images/Puces/html.gif" alt="html" />
<!--#end .html -->

<!--#begin .htm -->
<img src="{ babSkinPath }images/Puces/html.gif" alt="html" />
<!--#end .htm -->

<!--#begin .xls -->
<img src="{ babSkinPath }images/Puces/xls.gif" alt="xls" />
<!--#end .xls -->

<!--#begin .css -->
<img src="{ babSkinPath }images/Puces/css.gif" alt="css" />
<!--#end .css -->

<!--#begin .exe -->
<img src="{ babSkinPath }images/Puces/exe.gif" alt="exe" />
<!--#end .exe -->

<!--#begin .mid -->
<img src="{ babSkinPath }images/Puces/mid.gif" alt="mid" />
<!--#end .mid -->

<!--#begin .mov -->
<img src="{ babSkinPath }images/Puces/mov.gif" alt="mov" />
<!--#end .mov -->

<!--#begin .wav -->
<img src="{ babSkinPath }images/Puces/wav.gif" alt="wav" />
<!--#end .wav -->

<!--#begin .mp3 -->
<img src="{ babSkinPath }images/Puces/mp3.gif" alt="mp3" />
<!--#end .mp3 -->

<!--#begin .mpeg -->
<img src="{ babSkinPath }images/Puces/mpeg.gif" alt="mpeg" />
<!--#end .mpeg -->

<!--#begin .mpg -->
<img src="{ babSkinPath }images/Puces/mpg.gif" alt="mpg" />
<!--#end .mpg -->

<!--#begin .ram -->
<img src="{ babSkinPath }images/Puces/ram.gif" alt="ram" />
<!--#end .ram -->

<!--#begin .rar -->
<img src="{ babSkinPath }images/Puces/rar.gif" alt="rar" />
<!--#end .rar -->

<!--#begin .zip -->
<img src="{ babSkinPath }images/Puces/zip.gif" alt="zip" />
<!--#end .zip -->

<!--#begin .jpg -->
<img src="{ babSkinPath }images/Puces/jpg.gif" alt="jpg" />
<!--#end .jpg -->

<!--#begin .jpeg -->
<img src="{ babSkinPath }images/Puces/jpg.gif" alt="jpg" />
<!--#end .jpeg -->

<!--#begin .log -->
<img src="{ babSkinPath }images/Puces/txt.gif" alt="txt" />
<!--#end .log -->

<!--#begin .ppt -->
<img src="{ babSkinPath }images/Puces/ppt.gif" alt="ppt" />
<!--#end .ppt -->

<!--#begin .rpm -->
<img src="{ babSkinPath }images/Puces/rpm.gif" alt="rpm" />
<!--#end .rpm -->

<!--#begin .bz2 -->
<img src="{ babSkinPath }images/Puces/bz2.gif" alt="bz2" />
<!--#end .bz2 -->

<!--#begin .targz -->
<img src="{ babSkinPath }images/Puces/targz.gif" alt="tar.gz" />
<!--#end .targz -->

<!--#begin .tgz -->
<img src="{ babSkinPath }images/Puces/targz.gif" alt="tgz" />
<!--#end .tgz -->
