<!--#begin forumslist -->
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
    
<tr>
<td class="BabLoginCadreBackground">
    <table border="0" width="100%" cellpadding="5" cellspacing="0">
    <tr class="BabSiteAdminTitleFontBackground"  align="center"> 
        <td>&nbsp;</td>
        <td>{ forums_txt }</td>
        <td>{ threads_txt }</td>
        <td width="1%">{ posts_txt }</td>                  
        <td  width="20%">{ lastposts_txt }</td>
    </tr>
    <!--#in getNextForum -->
    <!--#if altBg --><tr class="BabSiteAdminFontBackground"><!--#else altBg --><tr class="BabForumBackground1"><!--#endif altBg -->
        <td  align="center" width="1%" nowrap="nowrap">
        <!--#if nbnewposts --><img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ recentposts_txt }" title="{ recentposts_txt }" border="0" align="absmiddle" /><!--#else nbnewposts --><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ noposts_txt }" title="{ noposts_txt }" border="0" align="absmiddle" /><!--#endif nbnewposts --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /></td>
        <td align="left" valign="top"><b><a href="{ forumurl }">{ forumname }</a></b><br />{ forumdescription }</td>

        <td align="center">{ threads }</td>

        <td align="center">{ posts }</td>
        <td align="center">
        <!--#if lastpostdate -->
        { lastpostdate }<br />
        <!--#if lastpostauthordetails -->
        <a href="javascript: Start('{ lastpostauthordetails }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ lastpostauthor }</a>
        <!--#else lastpostauthordetails -->
        { lastpostauthor }
        <!--#endif lastpostauthordetails -->
        <!--#if lastpostauthoremail -->
         &lt;{ lastpostauthoremail }&gt;
        <!--#endif lastpostauthoremail -->
        &nbsp; <a href="{ lastposturl }"><img src="{ babSkinPath }images/Puces/PuceArrowRight.gif" alt="{ viewlastpost_txt }" title="{ viewlastpost_txt }" border="0" align="absmiddle" /></a><!--#endif lastpostdate --></td>
    </tr>
    <!--#endin getNextForum -->
    </table>
</td>
</tr>
</table>


<br />

<table width="99%" border="0" cellspacing="0" cellpadding="0" align="center">
    
<tr>
<td>
    <table width="50%" border="0" cellspacing="0" cellpadding="2" align="right">
    <tr>
    <td class="BabLoginCadreBackground">
    <table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">
    <tr> 
        <td colspan="2"><h5>{ whoisonline_txt }</h5></td>
    </tr>

    <tr>
        <td>{ nbusers_txt }</td>
        <td align="left" valign="top">{ nbusers }</td>
    </tr>

    <tr>
        <td>{ nbregistered_txt }</td>
        <td align="left" valign="top">{ nbregistered }</td>
    </tr>

    <tr>
        <td>{ nbanonymous_txt }</td>
        <td align="left" valign="top">{ nbanonymous }</td>
    </tr>

    <!--#if BAB_SESS_LOGGED -->
    <tr>
        <td>{ nbtotalnewposts_txt }</td>
        <td align="left" valign="top">{ nbtotalnewposts }</td>
    </tr>
    <!--#endif BAB_SESS_LOGGED -->

    </table>
    </td>
    </tr>
    </table>
</td>
</tr>
</table>

<!--#end forumslist -->










<!--
    $ forumssearch
    Ce patron permet d'effectuer des recherches dans les forums.
-->

<!--#begin forumssearch -->
<div class="forums-user search">
    <h1>{ search_txt }</h1>
        
    <form name="fsearch" method="post" action="{ babPhpSelf }">
        <input type="hidden" name="tg" value="forumsuser">
        <input type="hidden" name="idx" value="searchr">
        
        <p>
            <label for="sword" class="fixed-width">{ search_txt }</label>
            <input type="text" name="sword" id="sword" size="45" value="{ wordvalue }" />
        </p>
        
        <p>
            <label for="forum" class="fixed-width">{ forum_txt }</label>
            <select name="forum" id="forum">
                <option value="">{ selecforum_txt }</option>
                <!--#in getnextforum -->
                    <option value="{ forumid }" { selected }>{ forumname }</option>
                <!--#endin getnextforum -->
            </select>
        </p>
        
        <p>
            { searchoptions_txt }<br />
            <label><input type="radio" name="sopt" value="all" checked="checked" />{ optionall_txt }</label><br />
            <label><input type="radio" name="sopt" value="subject" />{ optionsubject_txt }</label>
        </p>
        
        <input type="submit" name="submit" value="{ search_txt }" />
    </form>
</div>
<!--#end forumssearch -->










<!--#begin threadlist -->
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
    
<!--#if countpages -->
    <tr> 
        <td align="right"><b>
            { gotopage_txt }&nbsp;
            <!--#in getnextpage -->
            <!--#if bpageurl -->
            <a href="{ pageurl }">{ page }</a>
            <!--#else bpageurl -->
            { page }
            <!--#endif bpageurl -->

            <!--#endin getnextpage -->
        </b></td>
    </tr>
<!--#endif countpages -->
<tr>
<td>
    <table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr>
    <td class="BabLoginCadreBackground">
        <table border="0" width="100%" cellpadding="2" cellspacing="0">
        <tr height="40" class="BabSiteAdminTitleFontBackground"  align="center"> 
            <td>&nbsp;</td>
            <td><b>{ forum_txt }</b></td>
            <td><b>{ thread_txt }</b></td>
            <td><b>{ author_txt }</b></td>         
        </tr>
        <!--#in getnext -->
        <!--#if altbg -->
        <tr class="BabForumBackground1" height="40">
        <!--#else altbg -->
        <tr class="BabSiteAdminFontBackground" height="40">
        <!--#endif altbg -->
            <td align="center"><a href="javascript:bab_popup('{ post_url }');"><img src="{ babSkinPath }images/Puces/popupselect.gif" alt="{ viewpost_txt }" title="{ viewpost_txt }" border="0" align="absmiddle" /></a></td>
            <td ><a href="{ forum_url }">{ forum_name }</a></td>
            <td ><a href="{ thread_url }">{ thread_name }</a></td>
            <td align="center">
                <!--#if authordetailsurl -->
                <a href="javascript: Start('{ authordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ author_name }</a>
                <!--#else authordetailsurl -->
                { author_name }
                <!--#endif authordetailsurl -->
                <!--#if authoremail -->
                <br />&lt;{ authoremail }&gt;
                <!--#endif authoremail -->
                <br />
            </td>         
        </tr>
        <!--#endin getnext -->
        </table>
    </td>
    </tr>
    </table>

</td>
</tr>
<!--#if countpages -->
    <tr> 
        <td align="right"><b>
            { gotopage_txt }&nbsp;
            <!--#in getnextpage -->
            <!--#if bpageurl -->
            <a href="{ pageurl }">{ page }</a>
            <!--#else bpageurl -->
            { page }
            <!--#endif bpageurl -->

            <!--#endin getnextpage -->
        </b></td>
    </tr>
<!--#endif countpages -->

<!--#if countforums -->
    <tr>
    <td class="BabForumBackground" valign="midlle">
    <form name="threadl" method="post" action="{ babPhpSelf }">
    <input type="hidden" name="tg" value="threads">
    <input type="hidden" name="idx" value="{ idx }">
    { jumpto_txt }&nbsp;&nbsp;<select class="BabForumBackground" name="forum">
    <option value="">{ selecforum_txt }</option>
    <!--#in getnextforum -->
    <option value="{ forumid }">{ forumname }</option>
    <!--#endin getnextforum -->
    </select>&nbsp;
    <input type="submit" name="submit" value="{ go_txt }">
    </form>
    </td>
    </tr>
<!--#endif countforums -->
</table>
<!--#end threadlist -->










<!--#begin viewpost -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br />
<center><a href="javascript:this.close()">{ close_txt }</a></center>
<br />
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
<tr>
<td>
<table border="0" width="100%" cellpadding="2" cellspacing="2">
<tr height="30" class="BabSiteAdminTitleFontBackground"  align="center"> 
    <td width="150"><b>{ author }</b></td>
    <td><b>{ message }</b></td>
</tr>
<tr height="30" valign="top"> 
    <td width="150" class="BabForumBackground1" ><b>
    <!--#if postauthordetailsurl -->
    <a href="javascript: Start('{ postauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ postauthor }</a>
    <!--#else postauthordetailsurl -->
    { postauthor }
    <!--#endif postauthordetailsurl -->
    <!--#if postauthoremail -->
    <br />&lt;{ postauthoremail }&gt;
    <!--#endif postauthoremail -->
</b>


    </td>
    <td class="BabForumBackground1" >
<A name="p{ postid }"></A>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="100%">
            <span class="BabForumBackground1">{ posted_txt }: { 
            postdate }</span><br /><span class="BabForumBackground1">{ postsubject_txt }: <b>{ postsubject }</b></span></td>
            <td valign="top" nowrap="nowrap">
            </td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td colspan="2"><span>{ postmessage }</span><br /><br />
            <!--#if files -->
            <dl class="BabForumFiles">
                <dt><span class="BabForumBackground1">{ t_files }:</span></dt>
                <!--#in getnextfile -->
                <dd><a href="{ file_url }">{ file_name }</a></dd>
                <!--#endin getnextfile -->
            </dl>
            <!--#endif files -->
            </td>
        </tr>
    </table>
    </td>
</tr>
<tr>
<td  class="BabForumBackground1">&nbsp;</td>
<td  class="BabForumBackground1" align="right"> 
</td>
</tr>
<tr>
<td  class="BabForumBackground1" colspan="2" height="1">
</td>
</tr>
</table>
<br />
<center><a href="javascript:this.close()">{ close_txt }</a></center>
</BODY>
</HTML>
<!--#end viewpost -->

<!--#begin forumsoptions -->
<form name="foptions" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="forumsuser">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="action" value="options">
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
    <table border="0" width="100%" cellpadding="5" cellspacing="0">
    <tr class="BabSiteAdminTitleFontBackground"  align="center"> 
        <td>{ forums_txt }</td>
        <td>{ allnotif_txt }</td>                  
        <td>{ onlynewthreadsnotif_txt }</td>
        <td>{ nonotif_txt }</td>
    </tr>
    <!--#in getNextForum -->
    <!--#if altBg --><tr class="BabSiteAdminFontBackground"><!--#else altBg --><tr class="BabForumBackground1"><!--#endif altBg -->
        <td align="left" valign="top"><b><a href="{ forumurl }">{ forumname }</a></b><br />{ forumdescription }</td>

        <td align="center">    <input type="radio" name="sopt-{ forumid }" value="{ forumnotif_all }" { checked_forumnotif_all } /></td>
        <td align="center">    <input type="radio" name="sopt-{ forumid }" value="{ forumnotif_newthreads }" { checked_forumnotif_newthreads } /></td>
        <td align="center">    <input type="radio" name="sopt-{ forumid }" value="{ forumnotif_none }" { checked_forumnotif_none } /></td>
    </tr>
    <!--#endin getNextForum -->
    </table>
</td>
</tr>
<tr>
<td align="center"">
<input type="submit" name="submit" value="{ update_txt }" /><br /><br />
</td>
</tr>
</table>
</form>
<!--#end forumsoptions -->
