<!--
    $ postcreate
    Ce patron permet de créer un nouveau message en réponse à un autre.
-->

<!--#begin postcreate -->
<div class="posts create">
    <div class="message">
        <h1>{ postsubject }</h1>
    
        <div class="infos">
            <span class="author">{ postauthor }</span>,
            <span class="date">{ postdate }</span>
        </div>
        
        <div class="text">{ postmessage }</div>
        
        <!--#if files -->
            <div class="files">
                <p>{ t_files } :</p>
                <ul>
                    <!--#in getnextfile -->
                        <li>
                            <a href="{ file_url }">{ file_name }</a>
                            <span>( { file_size }<!--#if displayIndex -->, { file_index_label }<!--#endif displayIndex --> )</span>
                        </li>
                    <!--#endin getnextfile -->
                </ul>
            </div>
        <!--#endif files -->
    </div>
    
    <form name="postcr" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
        <input type="hidden" name="tg" value="posts">
        <input type="hidden" name="idx" value="List">
        <input type="hidden" name="forum" value="{ forum }">
        <input type="hidden" name="thread" value="{ thread }">
        <input type="hidden" name="postid" value="{ postid }">
        <input type="hidden" name="flat" value="{ flat }">
        <input type="hidden" name="add" value="addreply">
        
        <!--#if allow_post_files -->
            <input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
            <input type="hidden" name="files_fields" value="1">
        <!--#endif allow_post_files -->
        
        <p>
            <span class="label fixed-width">{ name } :</span>
            <!--#if anonyme "== 0" -->
                <strong>{ username }</strong>
            <!--#else anonyme -->
                <input type="text" name="uname" size="45" maxlength="60" />
            <!--#endif anonyme -->
        </p>

        <p>
            <label for="subject" class="fixed-width">{ subject } :</label>
            <input type="text" name="subject" id="subject" size="45"
                maxlength="60" value="{ subjectval }">
        </p>

        { editor }
        
        <!--#if allow_post_files -->
            <h2>{ t_files } :</h2>

            <div id="post_addfiles">
                <p>
                    <input type="file" name="file0" />
                </p>
            </div>

            <p>
                <a href="#" onclick="add_field(event)">{ t_add_field }</a> -
                <a href="#" onclick="remove_field(event)">{ t_remove_field }</a>
            </p>
        <!--#endif allow_post_files -->
        
        <!--#if bUseCaptcha -->
            <p>
                <span class="label fixed-width">{ sCaptchaCaption1 } :</span>
                { sCaptchaSecurityData }<br />

                <label for="captcha">
                    { sCaptchaCaption2 }<span class="champ-obligatoire">*</span> :
                </label>
                <input type="text" name="sCaptchaSecurityCode" id="captcha" size="40" />
            </p>
        <!--#endif bUseCaptcha -->
        
        <input type="submit" name="submit" value="{ add }">

        <p class="note">{ noteforum }</p>
        
        <!--#if allow_post_files -->
            <script type="text/javascript">
            <!--
            /*
                Ce script permet l'utilisation des liens "Ajouter un fichier" et
                "Retirer un fichier" pour les fichiers joints afin d'ajouter ou
                de retirer des champs.
            */
            
            function add_field(event) {
                if (!event) event = window.event;
                event.preventDefault();
                
                var f = document.forms['postcr'];
                var d = document.getElementById('post_addfiles');
                var n = parseInt(f.files_fields.value);

                f.files_fields.value = n  + 1;

                var p = document.createElement("p");
                d.appendChild(p);

                var input = document.createElement("input");
                input.type = 'file';
                input.name = 'file'+(n+1);

                p.appendChild(input);

                return false;
            }

            function remove_field(event) {
                if (!event) event = window.event;
                event.preventDefault();
                
                var f = document.forms['postcr'];
                var d = document.getElementById('post_addfiles');
                var n = parseInt(f.files_fields.value);
                var inputs = d.getElementsByTagName('p');
                if (n > 0) {
                    f.files_fields.value = n - 1;

                    d.removeChild(inputs[(inputs.length-1)]);
                }

                return false;
            }
            //-->
            </script>
        <!--#endif allow_post_files -->
    </form>
</div>
<!--#end postcreate -->










<!--
    $ postedit
    Ce patron permet de modifier un message posté.
-->

<!--#begin postedit -->
<form name="postcr" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
    <input type="hidden" name="tg" value="posts">
    <input type="hidden" name="idx" value="Waiting">
    <input type="hidden" name="forum" value="{ forum }">
    <input type="hidden" name="thread" value="{ thread }">
    <input type="hidden" name="post" value="{ post }">
    <input type="hidden" name="flat" value="{ flat }">
    <input type="hidden" name="update" value="updatereply">
    
    <!--#if allow_post_files -->
        <input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
        <input type="hidden" name="files_fields" value="1">
    <!--#endif allow_post_files -->
    
    <p>
        <span class="label fixed-width">{ name } :</span>
        <strong>{ author }</strong>
    </p>

    <p>
        <label for="subject" class="fixed-width">{ subject } :</label>
        <input type="text" name="subject" id="subject" size="45"
            maxlength="60" value="{ subjectval }">
    </p>

    { editor }
    
    <!--#if allow_post_files -->
        <h2>{ t_files } :</h2>
        
        <p>
            <!--#if countfiles -->
                { t_files_delete_txt }
                <ul>
                    <!--#in getnextfile -->
                        <li>
                            <label>
                                <input type="checkbox" name="dfiles[]" value="{ file_name }"} />
                                <a href="{ file_url }">{ file_name }</a>
                                <span>( { file_size } )</span>
                            </label>
                        </li>
                    <!--#endin getnextfile -->
                </ul>
            <!--#endif countfiles -->
        </p>

        <div id="post_addfiles">
            <p>
                <input type="file" name="file0" />
            </p>
        </div>

        <p>
            <a href="#" onclick="add_field(event)">{ t_add_field }</a> -
            <a href="#" onclick="remove_field(event)">{ t_remove_field }</a>
        </p>
    <!--#endif allow_post_files -->
    
    <input type="submit" name="submit" value="{ update }" />
    
    <!--#if allow_post_files -->
        <script type="text/javascript">
            <!--
            function add_field(event) {
                var f = document.forms['postcr'];
                var d = document.getElementById('post_addfiles');
                var n = parseInt(f.files_fields.value);

                f.files_fields.value = n  + 1;

                var p = document.createElement("p");
                d.appendChild(p);

                var input = document.createElement("input");
                input.type = 'file';
                input.name = 'file'+(n+1);
                input.size = 60;

                p.appendChild(input);
                
                return false;
            }

            function remove_field(event) {
                var f = document.forms['postcr'];
                var d = document.getElementById('post_addfiles');
                var n = parseInt(f.files_fields.value);
                var inputs = d.getElementsByTagName('p');
                if (n > 0) {
                    f.files_fields.value = n - 1;

                    d.removeChild(inputs[(inputs.length-1)]);
                }
                
                return false;
            }
            //-->
        </script>
    <!--#endif allow_post_files -->
</form>
<!--#end postedit -->










<!--
    $ newpostslist
    Ce patron permet d'afficher les messages d'un sujet sous forme
    d'arborescence.
-->

<!--#begin newpostslist -->
<div class="posts list">
    <div class="search">
        <a href="{ search_url }">{ search_txt }</a>
    </div>
    
    <div class="flat-view">
        <a href="{ flaturl }">
            <img src="{ babSkinPath }images/Puces/PuceForumFlat.gif" alt="{ altflattxt }" />
        </a>
    </div>
    
    <!--#if postid "> 0" -->
        <div class="message">
            <h1>{ postsubject }</h1>
            
            <div class="infos">
                <span class="author">
                    <!--#if postauthordetailsurl -->
                        <a href="javascript: Start('{ postauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">
                            { postauthor }
                        </a>
                    <!--#else postauthordetailsurl -->
                        { postauthor }
                    <!--#endif postauthordetailsurl -->
                    
                    <!--#if postauthoremail -->
                        { postauthoremail }
                    <!--#endif postauthoremail -->
                </span>, <span class="date">{ postdate }</span>
            </div>
            
            <div class="text">{ postmessage }</div>
            
            <!--#if files -->
                <div class="files">
                    <p>{ t_files } :</p>
                    <ul>
                        <!--#in getnextfile -->
                            <li>
                                <a href="{ file_url }">{ file_name }</a>
                                <span>( { file_size }<!--#if ismanager -->, { file_index_label }<!--#endif ismanager --> )</span>
                            </li>
                        <!--#endin getnextfile -->
                    </ul>
                </div>
            <!--#endif files -->
            
            <!--#if more -->
                <div class="more">{ more }</div>
            <!--#endif more -->
            
            <div class="actions">
                <!--#if replyurl -->
                    <a href="{ replyurl }">{ reply_txt }</a>
                <!--#endif replyurl -->
                
                <!--#if what "== N" -->
                    <!--#if moderator -->
                        <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" alt="{ waiting_txt }" title="{ waiting_txt }" />
                        <a href="{ confirmurl }">{ confirmname }</a>
                        <a href="{ deleteurl }">{ deletename }</a>
                    <!--#else moderator -->
                        <!--#if moreurl -->
                            <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" alt="{ waiting_txt }" title="{ waiting_txt }" />
                        <!--#endif moreurl -->
                    <!--#endif moderator -->
                <!--#endif what -->

                <!--#if moreurl -->
                    <a href="{ moreurl }">{ morename }</a>
                <!--#endif moreurl -->

                <!--#if removeurl -->
                    <a href="{ removeurl }" onclick="return confirm('{ removeconfirmtxt }')">{ removetxt }</a>
                <!--#endif removeurl -->
            </div>
        </div>
    <!--#endif postid -->
    
    <table>
        <thead>
            <tr>
                <th>
                    { subject }
                </th>
                <th>
                    { author }
                </th>
                <th >
                    { date }
                </th>
            </tr>
        </thead>
    
        <tbody>
            <!--#in getnext -->
                <tr class="<!--#if alternate "== 0" -->even<!--#else alternate -->odd<!--#endif alternate -->">
                    <td>
                        <table class="tree">
                            <tr>
                                <!--#in gettrans -->
                                    <!--#if vert "== 1" -->
                                        <td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostV.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
                                            <img src="{ babSkinPath }images/Puces/Puce-v.gif" width="12" height="21" alt="Vertical">
                                        </td>
                                    <!--#else vert -->
                                        <td>
                                            <img src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="21" alt="Space" />
                                        </td>
                                    <!--#endif vert -->
                                <!--#endin gettrans -->
        
                                <!--#if first "== 1" -->
                                <!--#else first -->
                                    <!--#if leaf "== 1" -->
                                        <td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostL.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
                                            <img src="{ babSkinPath }images/Puces/Puce-l.gif" width="12" height="21" alt="last-child">
                                        </td>
                                    <!--#else leaf -->
                                        <td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostV.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
                                            <img src="{ babSkinPath }images/Puces/Puce-t.gif" width="12" height="21" alt="Cross">
                                        </td>
                                    <!--#endif leaf -->
                                <!--#endif first -->
        
                                <!--#if parent "== 1" -->
                                    <td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostM.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
                                        <img src="{ babSkinPath }images/Puces/Puce-m.gif" width="9" height="21" alt="Minus" />
                                    </td>
                                <!--#else parent -->
                                    <td>
                                        <img src="{ babSkinPath }images/Puces/Puce-h.gif" width="9" height="21" alt="Horizontal" />
                                    </td>
                                <!--#endif parent -->
        
                                <td>
                                    <img src="{ babSkinPath }images/Puces/Puce-s.gif" width="5" height="21" alt="Space" />
                                </td>
        
                                <td class="subject">
                                    <!--#if confirmed "== C" -->
                                        <!--#if current "== 1" -->
                                            <img src="{ babSkinPath }images/Puces/PuceArrowRight.gif" alt="{ confirmed }" />
                                        <!--#else current -->
                                            <a href="{ replysubjecturl }">
                                                <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" alt="{ confirmed }" />
                                            </a>
                                        <!--#endif current -->
                                    <!--#else confirmed -->
                                        <!--#if brecent "== 1" -->
                                            <img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }">
                                        <!--#endif brecent -->
                                    <!--#endif confirmed -->
                                    
                                    <!--#if current "== 1" -->
                                        { replysubject }
                                    <!--#else current -->
                                        <a href="{ replysubjecturl }">
                                            { replysubject }
                                        </a>
                                    <!--#endif current -->
                                </td>
                            </tr>
                        </table>
                    </td>
        
                    <td class="author">{ replyauthor }</td>
                    
                    <td class="date">{ replydate }</td>
                </tr>
            <!--#endin getnext -->
        </tbody>
    </table>
</div>
<!--#end newpostslist -->










<!--
    $ postview
    Ce patron permet de visualiser un message seul. (Par exemple dans les
    approbations).
-->

<!--#begin postview -->
<div class="posts view">
    <div class="message">
        <h1>{ title }</h1>
        
        <h2>{ postsubject }</h2>
        
        <div class="infos">
            <span class="author">{ postauthor }</span>,
            <span class="date">{ postdate }</span>
        </div>
        
        <div class="text">{ postmessage }</div>
    </div>
    
    <div class="actions">
        <a href="#" onclick="this.close()">{ close }</a>
    </div>
</div>
<!--#end postview -->










<!--
    $ postslistflat
    Ce patron permet d'afficher les messages d'un sujet en les mettant tous au
    même niveau.
-->

<!--#begin postslistflat -->
<div class="posts list flat">
    <!--#if countforums -->
        <form name="threadl" method="post" class="forums-list"
            action="{ babPhpSelf }">
            <input type="hidden" name="tg" value="threads">
            <input type="hidden" name="idx" value="{ idx }">

            { jumpto_txt }
            <select name="forum">
                <option value="{ forum }">{ selecforum_txt }</option>
                <!--#in getnextforum -->
                    <option value="{ forumid }">{ forumname }</option>
                <!--#endin getnextforum -->
            </select>

            <input type="submit" name="submit" value="{ go_txt }">
        </form>
    <!--#endif countforums -->

    <div class="search">
        <a href="{ search_url }">{ search_txt }</a>
    </div>
    
    <!--#if countpages -->
        <p class="pages">
            { gotopage_txt } :
            <!--#in getnextpage -->
                <!--#if bpageurl -->
                    <a href="{ pageurl }">{ page }</a>
                <!--#else bpageurl -->
                    <span class="active">{ page }</span>
                <!--#endif bpageurl -->
            <!--#endin getnextpage -->
        </p>
    <!--#endif countpages -->
    
    <div class="tree-view">
        <a href="{ noflaturl }">
            <img src="{ babSkinPath }images/Puces/tree.gif" alt="{ treeview_txt }" title="{ treeview_txt }">
        </a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>
                    { author }
                </th>
                <th>
                    { message }
                </th>
            </tr>
        </thead>
        
        <tbody>
            <!--#in getnext -->
                <tr class="<!--#if altbg -->even<!--#else altbg -->odd<!--#endif altbg -->">
                    <td class="author">
                        <strong>
                            <!--#if postauthordetailsurl -->
                                <a href="javascript: Start('{ postauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">
                                    { postauthor }
                                </a>
                            <!--#else postauthordetailsurl -->
                                { postauthor }
                            <!--#endif postauthordetailsurl -->
                            
                            <!--#if postauthoremail -->
                                <br />
                                <a class="BabForumTopicsNavContribution" href="mailto:{ postauthoremail }" target=_top>
                                    <img src="{ babSkinPath }images/Puces/mail.png" alt="mail" title="{ mail_txt }" />
                                </a>
                            <!--#endif postauthoremail -->
                        </strong>
                    </td>
                
                    <td id="p{ postid }" class="message">
                        <div class="infos">
                            <div class="date">
                                <!--#if what "!= N" -->
                                    <!--#if brecent "== 1" -->
                                        <img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }" />
                                    <!--#endif brecent -->
                                <!--#else what -->
                                    <!--#if moreurl -->
                                        <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" alt="{ waiting_txt }" title="{ waiting_txt }" />
                                    <!--#endif moreurl -->
                                <!--#endif what -->
                            
                                { posted_txt } : { postdate }
                            </div>
                            <div>
                                { postsubject_txt } : <strong>{ postsubject }</strong>
                            </div>
                        </div>
                        
                        <div class="text">
                            { postmessage }
                        </div>
                        
                        <!--#if files -->
                            <div class="files">
                                <p>{ t_files } :</p>
                                <ul>
                                    <!--#in getnextfile -->
                                        <li>
                                            <a href="{ file_url }">{ file_name }</a>
                                            <span>( { file_size }<!--#if ismanager -->, { file_index_label }<!--#endif ismanager --> )</span>
                                        </li>
                                    <!--#endin getnextfile -->
                                </ul>
                            </div>
                        <!--#endif files -->
                        
                        <!--#if more -->
                            <div class="more">
                                { more }
                            </div>
                        <!--#endif more -->
                        
                        <div class="actions">
                            <!--#if what "== Y" -->
                                <!--#if breply -->
                                    <a href="{ replysubjecturl }">{ replytxt }</a>
                                <!--#endif breply -->
                            <!--#endif what -->
                            
                            <!--#if what "== N" -->
                                <!--#if moderator -->
                                    <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" alt="{ waiting_txt }" title="{ waiting_txt }">
                                    <a href="{ confirmurl }">{ confirmname }</a>
                                    <a href="{ deleteurl }">{ deletename }</a>
                                <!--#endif moderator -->
                            <!--#endif what -->

                            <!--#if moreurl -->
                                <a href="{ moreurl }">{ morename }</a>
                            <!--#endif moreurl -->
                            
                            <!--#if removeurl -->
                                <a href="{ removeurl }" onclick="return confirm('{ removeconfirmtxt }')">
                                    { removetxt }
                                </a>
                            <!--#endif removeurl -->
                        </div>
                    </td>
                </tr>
            <!--#endin getnext -->
        </tbody>
    </table>
    
    <!--#if countpages -->
        <p class="pages">
            { gotopage_txt } :
            <!--#in getnextpage -->
                <!--#if bpageurl -->
                    <a href="{ pageurl }">{ page }</a>
                <!--#else bpageurl -->
                    <span class="active">{ page }</span>
                <!--#endif bpageurl -->
            <!--#endin getnextpage -->
        </p>
    <!--#endif countpages -->
    
    <!--#if countforums -->
        <form name="threadl" method="post" class="forums-list"
            action="{ babPhpSelf }">
            <input type="hidden" name="tg" value="threads">
            <input type="hidden" name="idx" value="{ idx }">

            { jumpto_txt }
            <select name="forum">
                <option value="{ forum }">{ selecforum_txt }</option>
                <!--#in getnextforum -->
                    <option value="{ forumid }">{ forumname }</option>
                <!--#endin getnextforum -->
            </select>

            <input type="submit" name="submit" value="{ go_txt }">
        </form>
    <!--#endif countforums -->

    <div class="search">
        <a href="{ search_url }">{ search_txt }</a>
    </div>
</div>
<!--#end postslistflat -->










<!--
    $ movethread
    Ce patron permet de déplacer un sujet.
-->

<!--#begin movethread -->
<div class="posts move-thread">
    <!--#if countforums -->
        <form name="movet" method="post" action="{ babPhpSelf }">
            <input type="hidden" name="tg" value="posts">
            <input type="hidden" name="idx" value="List">
            <input type="hidden" name="forum" value="{ forum }">
            <input type="hidden" name="thread" value="{ idthread }">
            <input type="hidden" name="flat" value="{ flat }">
            <input type="hidden" name="move" value="movet">
    
            <p>
                <span class="label fixed-width">{ thread_txt } :</span>
                <strong>{ thread }</strong>
            </p>
            
            <p>
                <label for="newforum" class="fixed-width">{ move_txt }</label>
                <select class="BabForumBackground" name="newforum" id="newforum">
                    <!--#in getnextforum -->
                        <option value="{ forumid }">{ forumname }</option>
                    <!--#endin getnextforum -->
                </select>
            </p>
            
            <input type="submit" name="submit" value="{ update_txt }" />
        </form>
    <!--#endif countforums -->
</div>
<!--#end movethread -->
