<!--
    $ threadlist
    Ce patron permet de lister les sujets d'un forum.
-->

<!--#begin threadlist -->
<div class="threads list">
    <!--#if countforums -->
        <form name="threadl" method="post" class="forums-list"
            action="{ babPhpSelf }">
            <input type="hidden" name="tg" value="threads">
            <input type="hidden" name="idx" value="{ idx }">

            { jumpto_txt }
            <select name="forum">
                <option value="{ forum }">{ selecforum_txt }</option>
                <!--#in getnextforum -->
                    <option value="{ forumid }">{ forumname }</option>
                <!--#endin getnextforum -->
            </select>

            <input type="submit" name="submit" value="{ go_txt }">
        </form>
    <!--#endif countforums -->

    <div class="search">
        <a href="{ search_url }">{ search_txt }</a>
    </div>

    <ul class="messages-legend">
        <!--#if active "== Y" -->
            <li>
                <img src="{ babSkinPath }images/Puces/PuceForumOpen.gif"
                    alt="{ openthreadsinfo }" /> :
                { openthreadsinfo }
            </li>
        <!--#endif active -->
        <!--#if active "== Y" -->
            <li>
                <img src="{ babSkinPath }images/Puces/PuceForumWaiting_noBlink.gif"
                    alt="{ waitthreadsinfo }" /> :
                { waitthreadsinfo }
            </li>
        <!--#endif active -->
        <!--#if active "== N" -->
            <li>
                <img src="{ babSkinPath }images/Puces/PuceForumClose.gif"
                    alt="{ closedthreadsinfo }" /> :
                { closedthreadsinfo }
            </li>
        <!--#endif active -->
        <!--#if active "== Y" -->
            <li>
                <img src="{ babSkinPath }images/Puces/RecentPost.gif"
                    alt="{ altrecentposts }" /> :
                { altrecentposts }
            </li>
        <!--#endif active -->
    </ul>

    <!--#if countpages -->
        <p class="pages">
            { gotopage_txt } :
            <!--#in getnextpage -->
                <!--#if bpageurl -->
                    <a href="{ pageurl }">{ page }</a>
                <!--#else bpageurl -->
                    <span class="active">{ page }</span>
                <!--#endif bpageurl -->
            <!--#endin getnextpage -->
        </p>
    <!--#endif countpages -->

    <table>
        <thead>
            <tr>
                <th class="subject" colspan="2">{ thread }</th>
                <th class="replies">{ repliesname }</th>
                <th class="author">{ starter }</th>
                <th class="views">{ views }</th>
                <th class="last-post">{ lastpost }</th>
            </tr>
        </thead>
        
        <tbody>
            <!--#in getnext -->
                <tr class="<!--#if altbg -->even<!--#else altbg -->odd<!--#endif altbg -->">
                    <!--#if status "== *" -->
                        <td class="status">
                            <!--#if disabled "== 1" -->
                                <img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif"
                                    alt="{ waitthreadsinfo }"
                                    title="{ waitthreadsinfo }" />
                            <!--#else disabled -->
                                <a href="{ subjecturl }">
                                    <img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif"
                                        alt="{ waitthreadsinfo }"
                                        title="{ waitthreadsinfo }" />
                                </a>
                            <!--#endif disabled -->
                        </td>
                        <td class="subject">
                            <!--#if disabled "== 1" -->
                                { subjectname }
                            <!--#else disabled -->
                                <a href="{ subjecturl }">
                                    { subjectname }
                                </a>
                            <!--#endif disabled -->

                            <!--#if countgotothreadpages -->
                                <br />
                                [{ gotopage_txt }
                                <!--#in getnextthreadpage -->
                                    <!--#if bpageurl -->
                                        <a href="{ pageurl }">{ page }</a>
                                    <!--#else bpageurl -->
                                        { page }
                                    <!--#endif bpageurl -->
                                <!--#endin getnextthreadpage -->
                                ]
                            <!--#endif countgotothreadpages -->
                        </td>
                    <!--#else status -->
                        <!--#if arrthread[active] "== Y" -->
                            <td class="status">
                                <!--#if disabled "== 1" -->
                                    <img src="{ babSkinPath }images/Puces/PuceForumOpen.gif"
                                        alt="{ openthreadsinfo }"
                                        title="{ openthreadsinfo }" />
                                <!--#else disabled -->
                                    <a href="{ subjecturl }">
                                        <!--#if brecent "== 1" -->
                                            <img src="{ babSkinPath }images/Puces/RecentPost.gif" 
                                                alt="{ altrecentposts }"
                                                title="{ altrecentposts }" />
                                        <!--#else brecent -->
                                            <img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" 
                                                alt="{ noposts_txt }"
                                                title="{ noposts_txt }" />
                                        <!--#endif brecent -->
                                    </a>
                                <!--#endif disabled -->
                            </td>
                            <td class="subject">
                                <!--#if disabled "== 1" -->
                                    { subjectname }
                                <!--#else disabled -->
                                    <a href="{ subjecturl }">
                                        { subjectname }
                                    </a>
                                <!--#endif disabled -->

                                <!--#if countgotothreadpages -->
                                    <br />
                                    [{ gotopage_txt }
                                    <!--#in getnextthreadpage -->
                                        <!--#if bpageurl -->
                                            <a href="{ pageurl }">{ page }</a>
                                        <!--#else bpageurl -->
                                            { page }
                                        <!--#endif bpageurl -->
                                    <!--#endin getnextthreadpage -->
                                    ]
                                <!--#endif countgotothreadpages -->
                            </td>
                        <!--#else arrthread[active] -->
                            <td class="status">
                                <!--#if disabled "== 1" -->
                                    <img src="{ babSkinPath }images/Puces/PuceForumClose.gif"
                                        alt="{ subjectname }" />
                                <!--#else disabled -->
                                    <a href="{ subjecturl }">
                                        <img src="{ babSkinPath }images/Puces/PuceForumClose.gif"
                                            alt="{ subjectname }" />
                                    </a>
                                <!--#endif disabled -->
                            </td>

                            <td class="subject">
                                <!--#if disabled "== 1" -->
                                    { subjectname }
                                <!--#else disabled -->
                                    <a href="{ subjecturl }">
                                        { subjectname }
                                    </a>
                                <!--#endif disabled -->
                            </td>
                        <!--#endif arrthread[active] -->
                    <!--#endif status -->

                    <td class="replies">
                        { replies }
                    </td>

                    <td class="author">
                        <p>
                            <!--#if threadauthordetailsurl -->
                                <a href="javascript: Start('{ threadauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">
                                    { threadauthor }
                                </a>
                            <!--#else threadauthordetailsurl -->
                                { threadauthor }
                            <!--#endif threadauthordetailsurl -->

                            <!--#if threadauthoremail -->
                                <a href="mailto:{ threadauthoremail }"
                                    target=_top>
                                    <img src="{ babSkinPath }images/Puces/mail.png"
                                        alt="Mail" title="Mail">
                                </a>
                            <!--#endif threadauthoremail -->
                        </p>
                    </td>

                    <td class="views">
                        { thread_views }
                    </td>

                    <td class="last-post">
                        <p>
                            { lastpostdate }<br />

                            <!--#if lastpostauthordetailsurl -->
                                <a href="javascript: Start('{ lastpostauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">
                                    { lastpostauthor }
                                </a>
                            <!--#else lastpostauthordetailsurl -->
                                { lastpostauthor }
                            <!--#endif lastpostauthordetailsurl -->

                            <!--#if lastpostauthoremail -->
                                <a href="mailto:{ lastpostauthoremail }"
                                    target=_top>
                                    <img src="{ babSkinPath }images/Puces/mail.png"
                                        alt="Mail" title="Mail">
                                </a>
                            <!--#endif lastpostauthoremail -->
                            <br />

                            <a href="{ lastposturl }">
                                <img src="{ babSkinPath }images/Puces/PuceArrowRight.gif"
                                    alt="{ viewlastpost_txt }"
                                    title="{ viewlastpost_txt }">
                            </a>
                        </p>
                    </td>
                </tr>
            <!--#endin getnext -->
        </tbody>
    </table>

    <!--#if countpages -->
        <p class="pages">
            { gotopage_txt } :
            <!--#in getnextpage -->
                <!--#if bpageurl -->
                    <a href="{ pageurl }">{ page }</a>
                <!--#else bpageurl -->
                    <span class="active">{ page }</span>
                <!--#endif bpageurl -->
            <!--#endin getnextpage -->
        </p>
    <!--#endif countpages -->

    <!--#if countforums -->
        <form name="threadl" method="post" class="forums-list"
            action="{ babPhpSelf }">
            <input type="hidden" name="tg" value="threads">
            <input type="hidden" name="idx" value="{ idx }">

            { jumpto_txt }
            <select name="forum">
                <option value="{ forum }">{ selecforum_txt }</option>
                <!--#in getnextforum -->
                    <option value="{ forumid }">{ forumname }</option>
                <!--#endin getnextforum -->
            </select>

            <input type="submit" name="submit" value="{ go_txt }">
        </form>
    <!--#endif countforums -->

    <div class="search">
        <a href="{ search_url }">{ search_txt }</a>
    </div>
</div>
<!--#end threadlist -->










<!--
    $ threadcreate
    Ce patron permet d'afficher le formulaire de création d'un nouveau sujet.
-->

<!--#begin threadcreate -->
<div class="threads create">
    <form name="threadcr" method="post" action="{ babPhpSelf }" 
        enctype="multipart/form-data">
        <input type="hidden" name="tg" value="threads">
        <input type="hidden" name="idx" value="addthread">
        <input type="hidden" name="forum" value="{ forum }">
        <input type="hidden" name="flat" value="{ flat }">
        <input type="hidden" name="add" value="addthread">

        <!--#if allow_post_files -->
            <input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
            <input type="hidden" name="files_fields" value="1">
        <!--#endif allow_post_files -->

        <p>
            <span class="label fixed-width">{ name } :</span>
            <!--#if anonyme "== 0" -->
                <strong>{ username }</strong>
            <!--#else anonyme -->
                <input type="text" name="uname" size="45" maxlength="60" />
            <!--#endif anonyme -->
        </p>

        <p>
            <label for="subject" class="fixed-width">{ subject } :</label>
            <input type="text" name="subject" id="subject" size="45"
                maxlength="60" value="{ subjectval }">
        </p>

        { editor }

        <!--#if allow_post_files -->
            <h2>{ t_files } :</h2>

            <div id="post_addfiles">
                <p>
                    <input type="file" name="file0" />
                </p>
            </div>

            <p>
                <a href="#" onclick="add_field(event)">{ t_add_field }</a> -
                <a href="#" onclick="remove_field(event)">{ t_remove_field }</a>
            </p>
        <!--#endif allow_post_files -->

        <!--#if bUseCaptcha -->
            <p>
                <span class="label fixed-width">{ sCaptchaCaption1 } :</span>
                { sCaptchaSecurityData }<br />

                <label for="captcha">
                    { sCaptchaCaption2 }<span class="champ-obligatoire">*</span> :
                </label>
                <input type="text" name="sCaptchaSecurityCode" id="captcha" size="40" />
            </p>
        <!--#endif bUseCaptcha -->

        <!--#if BAB_SESS_LOGGED -->
            <p>
                <input type="checkbox" name="notifyme" id="notify" checked>
                <label for="notify">{ notifyme }</label>
            </p>
        <!--#endif BAB_SESS_LOGGED -->

        <input type="submit" name="submit" value="{ post }">

        <p class="note">{ noteforum }</p>

        <!--#if allow_post_files -->
            <script type="text/javascript">
            <!--
            /*
                Ce script permet l'utilisation des liens "Ajouter un fichier" et
                "Retirer un fichier" pour les fichiers joints afin d'ajouter ou
                de retirer des champs.
            */

            function add_field(event) {
                if (!event) event = window.event;
                event.preventDefault();

                var f = document.forms['threadcr'];
                var d = document.getElementById('post_addfiles');
                var n = parseInt(f.files_fields.value);

                f.files_fields.value = n + 1;

                var p = document.createElement("p");
                d.appendChild(p);

                var input = document.createElement("input");
                input.type = 'file';
                input.name = 'file' + (n + 1);

                p.appendChild(input);

                return false;
            }

            function remove_field(event) {
                if (!event) event = window.event;
                event.preventDefault();

                var f = document.forms['threadcr'];
                var d = document.getElementById('post_addfiles');
                var n = parseInt(f.files_fields.value);
                var inputs = d.getElementsByTagName('p');
                if (n > 0) {
                    f.files_fields.value = n - 1;

                    d.removeChild(inputs[(inputs.length-1)]);
                }

                return false;
            }
            -->
            </script>
        <!--#endif allow_post_files -->
    </form>
</div>
<!--#end threadcreate -->
