IVariables in "head_default" :
{ babtpl_authorid } : author ID
{ babtpl_articleid } : article ID
{ babtpl_topicid } : topic ID
{ babtpl_head } : head of the article
{ babtpl_body } : body of the article

Variables in "body_default" :
{ babtpl_articleid } : article ID
{ babtpl_topicid } : topic ID
{ babtpl_head } : head of the article
{ babtpl_body } : body of the article
{ babtpl_articlesurl } : articles url
{ babtpl_archiveurl } : archive url

<!--#begin head_default -->
<div>
    <style type="text/css" scoped>
        .bab-rating-bar {
            width: 55px;
            background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
            text-align: left;
        }

        .bab-rating-bar div {
            height: 12px;
            background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
        }
    </style>

    <div style="float: right;">
        <span class="bab-articletopic-{ babtpl_topicid }"></span>
        <!--#if topicbuttons -->
            <span class="bab_buttons">
                <!--#if bsubscription -->
                    <a class="subscription" href="{ subscriptionurl }">
                        <img src="{ babSkinPath }images/Puces/mail.png" style="text-align: middle; border:0; vertical-align: middle;" alt=""/>
                        { subscriptiontxt }
                    </a>
                <!--#endif bsubscription -->

                <!--#if bsubmit -->
                    <a class="submit" href="{ bsubmiturl }">
                        <img src="{ babSkinPath }images/Puces/edit_add.png" style="text-align: middle; border:0; vertical-align: middle;" alt=""/>
                        { submittxt }
                    </a>
                <!--#endif bsubmit -->
            </span>
        <!--#endif topicbuttons -->
    </div>

    <!--#if bnavigation -->
    <span>
        <a href="{ topurl }">{ topname }</a>
        <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
    </span>
    <span>
        <a href="{ prevurl }">{ prevname }</a>
        <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
    </span>
    <span>
        <a href="{ nexturl }">{ nextname }</a>
        <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
    </span>
    <span>
        <a href="{ bottomurl }">{ bottomname }</a>
        <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
    </span>
    <span>
        <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
    </span>
    <!--#endif bnavigation -->

    <!--#in getnext -->
        <div class="bab_repeat">
            <div class="BabTopicsTitleBackground">
                <h2 id="art{ articleid }">{ title }</h2>
                <!--#if article_rating "> 0" -->
                    <div class="bab-rating-bar" title="{ article_rating } / 5 ({ article_nb_ratings } votes)">
                        <div style="width:{ article_rating_percent }%">
                        </div>
                    </div>
                <!--#endif article_rating -->
            </div>
            <div class="BabTopicsBackground">
                <!--#if btags -->
                    <div class="bab-article-tags" style="text-align: right;" >
                        <em>{ tagstxt }:</em>
                        <!--#in getnexttag -->
                            <a href="{ searchurl }">{ tagname }</a>
                        <!--#endin getnexttag -->
                    </div>
                <!--#endif btags -->

                <!--#if imageurl -->
                    <img src="{ imageurl }" style="text-align: left;" hspace="5" vspace="5" />
                <!--#endif imageurl -->

                { content }
            </div>
            <!--#if battachments -->
            <div class="BabTopicsBackground">
                <div class="bab_buttons">
                    <div class="bab_title">
                        { attachmentxt } :
                    </div>
                    <ul>
                        <!--#in getnextdoc -->
                            <li>
                                <a href="{ docurl }">{ docname }</a>
                                <!--#if docdesc -->
                                    ({ docdesc })
                                <!--#endif docdesc -->
                            </li>
                        <!--#endin getnextdoc -->
                    </ul>
                </div>
            </div
            <!--#endif battachments -->
            <div class="BabTopicsButtonBackground" style="text-align:right;">
                <!--#if bmodify -->
                    <!--#if bmodifyurl -->
                        <a class="BabTopicsFooterLink" href="{ modifyurl }">
                            <img src="{ babSkinPath }images/Puces/edit.gif" alt="{ modifytxt }" style="text-align: middle; border:0;">
                            { modifytxt }
                        </a>
                    <!--#else bmodifyurl -->
                        <a class="BabTopicsFooterLink" href="{ modifyurl }">
                            <img src="{ babSkinPath }images/Puces/edit_disabled.gif" alt="{ modifytxt }" style="text-align: middle; border:0;">
                            { modifybytxt } : { modifyauthor }
                        </a>
                    <!--#endif bmodifyurl -->
                <!--#endif bmodify -->
                
                <!--#if commentstxt -->
                    <a class="BabTopicsFooterLink" href="{ commentsurl }" target="_blank" onclick="bab_popup('{ commentsurl }', 6);return false;">
                        <img src="{ babSkinPath }images/Puces/addcomment.gif" alt="{ commentstxt }" style="text-align: middle; border:0;">
                        { commentstxt }
                    </a>
                <!--#endif commentstxt -->

                <span class="bab-article-{ articleid }"></span>
            </div>
                
            <!--#if bbody "> 0" -->
            <div class="BabTopicsAuthorBackground" style="text-align:right;">
                <a class="BabTopicsFooterMoreLink" href="{ moreurl }">
                    { moretxt }
                </a>
            </div>
            <!--#endif bbody -->
        </div>
        
        <hr class="main-separator" />
    <!--#endin getnext -->
    </div>
<!--#end head_default -->


<!--#begin body_default -->
<div>
    <style type="text/css" scoped>
    .bab-rating-bar {
      width: 55px;
      background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
      text-align: left;
    }

    .bab-rating-bar div {
      height: 12px;
      background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
    }
    </style>

    <div style="text-align: right;">
        <span class="bab-articletopic-{ babtpl_topicid }"></span>
        <!--#if topicbuttons -->
            <span class="bab_buttons">
                <!--#if bsubscription -->
                &nbsp;
                <a class="subscription" href="{ subscriptionurl }">
                    <img src="{ babSkinPath }images/Puces/mail.png" style="text-align: middle; border:0;"/>
                    { subscriptiontxt }
                </a>
                <!--#endif bsubscription -->

                <!--#if bsubmit -->
                &nbsp;
                <a class="submit" href="{ bsubmiturl }">
                    <img src="{ babSkinPath }images/Puces/edit_add.png" style="text-align: middle; border:0;"/>
                    { submittxt }
                </a>
                <!--#endif bsubmit -->
            </span>
        <!--#endif topicbuttons -->
    </div>

    <!--#in getnext -->
    <div class="bab_repeat">
        <div class="BabTopicsTitleBackground">
            <h1>{ title }</h1>
            <!--#if article_rating "> 0" -->
                <div class="bab-rating-bar" title="{ article_rating } / 5 ({ article_nb_ratings } votes)">
                    <div style="width:{ article_rating_percent }%"></div>
                </div>
            <!--#endif article_rating -->
        </div>
        <div class="BabTopicsBackground">
            <!--#if btags -->
            <div class="bab-article-tags" style="text-align: right;" >
                <em>{ tagstxt }:</em>
                <!--#in getnexttag -->
                    <a href="{ searchurl }">{ tagname }</a>
                <!--#endin getnexttag -->
            </div>
            <!--#endif btags -->

            <!--#if imageurl -->
                <img src="{ imageurl }" style="text-align: left;" hspace="5" vspace="5" />
            <!--#endif imageurl -->

            { content }
        </div>

        <!--#if battachments -->
        <div class="BabTopicsBackground">
            <div class="bab_buttons">
                <div class="bab_title">{ attachmentxt }:</div>
                <ul>
                    <!--#in getnextdoc -->
                        <li>
                            <a href="{ docurl }">{ docname }</a>&nbsp;&nbsp;<!--#if docdesc -->({ docdesc })<!--#endif docdesc -->
                        </li>
                    <!--#endin getnextdoc -->
                </ul>
            </div>
        </div>
        <!--#endif battachments -->

        <div class="BabTopicsButtonBackground" style="text-align: right;">
            <!--#if bmodify -->
                <!--#if bmodifyurl -->
                    <a class="BabTopicsFooterLink" href="{ modifyurl }">
                        <img src="{ babSkinPath }images/Puces/edit.gif"  alt="{ modifytxt }" style="text-align: middle; border:0;">
                        &nbsp;{ modifytxt }
                    </a>
                <!--#else bmodifyurl -->
                    <a class="BabTopicsFooterLink" href="{ modifyurl }">
                        <img src="{ babSkinPath }images/Puces/edit_disabled.gif"  alt="{ modifybytxt }" style="text-align: middle; border:0;" >
                        &nbsp;{ modifybytxt }:&nbsp;{ modifyauthor }
                    </a>
                <!--#endif bmodifyurl -->
            <!--#endif bmodify -->
            
            <!--#if commentstxt -->
                &nbsp;&nbsp;
                <a class="BabTopicsFooterLink" href="{ editcommentsurl }" target="_blank" onclick="bab_popup('{ editcommentsurl }', 6);return false;">
                    <img src="{ babSkinPath }images/Puces/addcomment.gif" alt="{ commentstxt }" style="text-align: middle; border:0;" >
                    &nbsp;{ commentstxt }
                </a>
            <!--#endif commentstxt -->
            &nbsp;&nbsp;
            <span class="bab-article-{ babtpl_articleid }"></span>
        </div>
    </div>

    <!--#begin commentslist -->
    <!--#if countcom -->
    <br />
    <div class="BabLoginCadreBackground">
        <div class="BabSiteAdminTitleFontBackground" colspan="2">{ commenttxt }:</div>
        <!--#in getnextcom -->
        <!--#if altbg -->
            <div class="BabSiteAdminFontBackground">
        <!--#else altbg -->
            <div class="BabForumBackground1">
        <!--#endif altbg -->
            <div class="bab_title">
                <span style="text-align: left;">{ commenttitle }</span>
                <span style="text-align: right;">
                    <div>
                        <small>{ authorname }&nbsp;|&nbsp;{ commentdate }</small>
                    </div>
                    <!--#if article_is_edited -->
                        <div>
                            <b>
                                <small>{ t_edited } { lasteditorname }&nbsp;|&nbsp;{ last_update }</small>
                            </b>
                        </div>
                    <!--#endif article_is_edited -->
                    <!--#if article_rating "> 0" -->
                        <div class="bab-rating-bar" title="{ article_rating } / 5">
                            <div style="width:{ article_rating_percent }%">
                            </div>
                        </div>
                    <!--#endif article_rating -->
                    <!--#if user_is_topic_manager -->
                        <div>
                            <a class="BabTopicsFooterLink" href="{ editcommenturl }" onclick="bab_popup(this.href, 6);return false;">
                                <img src="{ babSkinPath }images/Puces/edit.gif"  border="0" alt="{ t_edit_comment }" style="text-align: middle;" >
                                &nbsp;{ t_edit_comment }
                            </a>
                        </div>
                    <!--#endif user_is_topic_manager -->
                </span>
            </div>
            <div class="bab_content">
                <td colspan="2">{ commentbody }<br /><br /></td>
            </div>
        <!--#endin getnextcom -->
    </div>
    <!--#endif countcom -->
    <!--#end commentslist -->

    <div class="bab_buttons">
        <div class="bab_title">{ topictxt }:</div>
        <ul>
        <!--#in getnextart -->
            <li><a href="{ urlreadmore }">{ titlearticle }</a></li>
        <!--#endin getnextart -->
        </ul>
    </div>
    <!--#endin getnext -->
</div>
<!--#end body_default -->
