/*************************************************
    $   Inclusions
*************************************************/

@import url('include/ovidentia.css');
@import url('include/gridpak.css');
@import url(http://fonts.googleapis.com/css?family=Sintony:700);
@import url('include/noyau.css');

.return-top {
    background-image : url('../images/up.png');
}

.wrapper {
    background-image : url('../images/noise.png');
}

.wrapper .content {
    background-image : url('../images/noir-transparent-5.png');
}

.cantico-slider a.big-button{
    background-image : url('../images/trame-fond-clair.png');
}

.BabLoginCadreBackground {
    background-image: url('../images/noir-transparent-2-5.png');
}

.threads.list table,
.posts.list table,
.posts.list table thead tr,
.posts.list table tbody tr.even {
    background-image : url('../images/noir-transparent-5.png');
}

.header {
    background-image : url('../images/girafe.png');
}

.footer {
    background-image : url('../images/trame.png');
}