@baseUrl: "../../../../skins/theme_genuine_giraffe/images/backgrounds/";

/*************************************************
    $   Général
*************************************************/

body {
    margin : 0;

    font-family : Arial, Helvetica, sans-serif;
    font-size : 0.9em;
}

a,
a:link,
a:visited {
    color : inherit;
    text-decoration : underline;
}

a img {
    border : none;
}

button, input, select, textarea {
    font-family : inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.BabTopicsTitleBackground {
    font-family : 'Sintony', sans-serif;
    color : @titleColor;
}

div.title {
    font-size : 1.5em;
}

p,
ul,
ol {
    line-height : 1.5em;
}

.container {
    margin : 0 auto;
    width : 100%;
    max-width : 1024px;
    
    position : relative;
}

.clear {
    clear : both;
}

.col {
    margin-top : 1px;
}

/* % Blocs d'administration ******************/

.manage {
    position : absolute;
    top : 10px;
    left : 10px;
    
    z-index : 50;
}

.manage.bottom {
    top : auto;
    bottom : 10px;
}

.manage.right {
    left : auto;
    right : 10px;
}

.manage.static {
    position : static;
}

.manage.static.right {
    text-align : right;
}

.manage a {
    text-decoration : none;
}

/* % Bouton de retour en haut de page *******/

.return-top {
    display : block;
    margin-top : -25px;
    height : 50px;
    width : 50px;
    
    position : fixed;
    top : 50%;
    right : 20px;
    
    text-align : center;
    line-height : 50px;
    font-size : 0;
    
    z-index : 100;
}

/*************************************************
    $   En-tête
*************************************************/
@urlHeader: "@{baseUrl}@{headerimage}.@{extensionHeader}";

.header {
    background: url(@urlHeader);
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    min-height : 100px;

    opacity : 0.95;
    background-color: @headerBackgroundColor;
    z-index : 100;
}

/* % Logo ***********************************/

.header .logo {
    display : block;
    height : 100px;

    float : left;

    color : white;
    font-size : 1.8em;
    text-decoration : none;
}

.header .logo .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header .logo img {
    vertical-align : middle;
    max-height : 100px;
}

.header .logo .name {
    display : inline;
    margin-left : 20px;

    color : white;
    font-size : 1em;
    font-family : 'Sintony', sans-serif;
}

.header #identification-home {
    color : white;
    font-size : 1em;
    font-family : 'Sintony', sans-serif;

    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
}

.header #identification-home form {
    display: inline-block;
}

.header #identification-home a {
    text-decoration: none;
}

.header #identification-home a:hover {
    color: white;
}

.header #identification-home img {
    vertical-align: middle;
}

.header #identification-home-plus {
    display: inline-block;
    margin-right: 20px;
    color: #DEDEDE;
}

/* % Menu ***********************************/

.header .nav .menu {
    position: absolute;
    right: 0;
    margin-top: 70px;
}

.header .nav .menu ul {
    margin : 0;
    padding : 0;

    list-style-type : none;
    text-align : right;
}

.header .nav .menu ul li {
    display : inline-block;
    padding-left : 15px;

    color : white;
    font-size : 1.2em;
    font-weight : bold;
}

.header .nav .menu ul li:first-child {
    padding-left : 0px;
}

.header .nav .menu ul li a,
.header .nav .menu ul li a:link,
.header .nav .menu ul li a:visited {
    text-decoration : none;
}

.header .nav .menu ul li a:hover {
    color : #efef3b;
}

/*************************************************
$   Pied de page
*************************************************/
@urlFooter: "@{baseUrl}@{footerimage}.@{extensionFooter}";
.footer {
    background: url(@urlFooter);
    background-color : @footerBackgroundColor;
}

/* % Menu ***********************************/

.footer .nav {
    padding : 30px 0 0;
}

.footer .nav a,
.footer .nav a:link,
.footer .nav a:visited {
    text-decoration : none;
}

.footer .nav a:hover {
    text-decoration : underline;
}

.footer .nav ul {
    margin : 0;
    padding : 0;

    list-style-type : none;
}

.footer .nav ul li {
    display : inline-block;
    margin-left : 40px;
    margin-bottom : 50px;

    color : white;
    font-size : 1.3em;
    vertical-align : top;
    font-family : 'Sintony', sans-serif;
}

.footer .nav ul ul li {
    display : block;
    font-size : 0.9em;
    margin : 0;
    font-family : Arial, sans-serif;
}

.footer .nav ul li ul li:first-child {
    margin-top : 10px;
}

/*************************************************
$   Contenu
*************************************************/

/* % Menu contextuel ************************/

.menu-contextuel {
    border : 1px solid #ddd;
    padding-left : 0;

    list-style-type : none;

    border-radius : 5px;
    overflow : hidden;
}

.menu-contextuel li {
    line-height : 2em;
}

.menu-contextuel a,
.menu-contextuel span {
    display : block;
    padding : 0 15px;

    color : #232F4D;
    background-color : white;
    background-color : rgba(255,255,255,0.4);
}

.menu-contextuel a:hover {
    color : #7E8BA8;
}

.menu-contextuel span {
    color : white;
    background-color : #232F4D;
    font-weight : bold;
}

/* % Contenu ********************************/

.wrapper {
    border-bottom : 1px solid #232F4D;
    padding-top : 100px;
}

.wrapper .aside,
.wrapper .content {
    padding:0 1.5%;

    float:left;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.wrapper .aside {
    padding-top : 20px;
    width : 23.5%;
    min-height : 1px;
}

.wrapper .aside.home {
    float : right;
    margin-bottom: 20px;
}

.wrapper .content {
    padding : 20px 20px 50px;
    width : 74.5%;

    position : relative;
}

.wrapper .content.home {
    margin : 0;
    width : 100%;
}

.wrapper .aside.home {
    margin-left:2%;
}

.wrapper .aside + .content {
    margin-left:2%;
}

.wrapper .aside.home + .content {
    margin-left:0;
}

.wrapper .container .home-portlet {
    float: left;
    width: 100%;
}

/* % Carrousel ******************************/

.carrousel {
    position : relative;
    z-index : 10;
}

.cantico-slider {
    color: white;
}

.cantico-slider .title {
    margin: 15px 0;
    font-size: 2.8em;
    color : white;
}

.carrousel .element {
    display: none;
    text-shadow : 2px 1px 2px rgba(0,0,0,0.75);
}

.carrousel .element.cantico-slider-element {
    display: inherit;
    margin-bottom : -1000px;
    padding: 20px 40px 1000px !important;
}

.cantico-slider a.big-button{
    display : inline-block;

    border : 1px solid white;
    border-color : rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    padding : 10px 20px 10px 10px;
    margin-right: 30px;

    border-radius : 10px;
    white-space : nowrap;

    color : white;
    font-family : Helvetica;
    text-decoration : none;
    font-size : 1.2em;
    line-height : 36px;
    text-shadow : 0 -1px 0 rgba(0,0,0,0.25);

    transition : all 0.1s linear;
}

.cantico-slider a i.pull-left{
    margin-right: 0;
}

/* % News ***********************************/

.news {
    position:relative;
}

.news h2 {
    margin-bottom : 0;
}

.news .infos {
    font-size : 0.8em;
}

.news .illustration {
    margin : 1em 1em 1em 0;
    float : left;
}

/* % Gestion *****************************/

.gestion div {
    float : left;
    width : 50%;
}

.gestion div a {
    text-decoration: none;
}

.gestion div a:hover {
    color: #232F4D;
}

.gestion div ul {
    padding-left: 20px;
}

.gestion div ul li {
    list-style-type: square;
}

/* % Autre ? ********************************/

.main-separator {
    color : gray;
    width : 80%;
    display : block;
    margin : 30px auto;
}

a.BabTopics.footerMoreLink:Link,
a.BabTopics.footerMoreLink:Visited {
    color : #232F4D;
}

/*************************************************
$   Portlets
*************************************************/

/* % Général ********************************/

body .portlets-sortable.ui-sortable-disabled .portlet-frame {
    margin: 0;
}

body .portlets-sortable.ui-sortable-disabled .portlet-frame,
body .portlets-sortable.ui-sortable-disabled .portlet-frame:hover {
    border : none;
}

body .portlets-sortable.ui-sortable-disabled .portlet-toolbar {
    display : none;
}

/* % portlet-versions-ovidentia *************/

/*
Portlet OVML
Il permet d'afficher les dernières versions stable et en développement
d'Ovidentia.
*/

.portlet-versions-ovidentia a.download-button{
    display : inline-block;

    border : 1px solid white;
    border-color : rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    padding : 10px;

    border-radius : 10px;
    background-color : #62c462;
    background-image : linear-gradient(to bottom,#62c462,#51a351);
    white-space : nowrap;

    color : white;
    font-family : Helvetica;
    text-decoration : none;
    font-size : 18px;
    text-shadow : 0 -1px 0 rgba(0,0,0,0.25);

    transition : all 0.1s linear;
}

.portlet-versions-ovidentia a i {
    margin-top: 4px;
}

.portlet-versions-ovidentia a .text {
    display : inline-block;
}

.portlet-versions-ovidentia a #versioncourantezip {
    font-size:0.7em;
}

/* % portlet-last-forum-threads *************/

/*
Portlet OVML
Il permet d'afficher les derniers sujets du forum
*/

.portlet-last-forum-threads .element {
    margin-bottom : 20px;
}

.portlet-last-news .element {
    margin-bottom : 20px;
}

/*************************************************
$   Responsive
*************************************************/

@media screen and (max-width:1024px) {
body {
    font-size : 0.8em;
}
}

@media screen and (max-width:900px) {
.wrapper .aside,
.wrapper .aside.home,
.wrapper .content,
.wrapper .aside + .content {
    margin : 0;
    width : auto;

    float : none;
}
}

@media screen and (max-width:800px) {
.header .nav .menu {
    position:relative;
    float : none;

    text-align : left;
    clear : both;
}

.header .nav .menu ul {
    height : auto;

    text-align : left;
}

.header .nav .menu ul li {
    padding : 0 15px;
    height : 30px;

    line-height : 30px;
}

.wrapper {
    padding-top:130px;
}
}

@media screen and (max-width:550px) {
.header {
    position : static;
}

.header .nav .menu ul {
    border-top:1px solid #121D38;
}

.header .nav .menu ul li {
    display : block;
    padding : 0;
    border-bottom:1px solid #121D38;
    height : auto;

    line-height : normal;
    text-align : center;
}

.header .nav .menu ul li a {
    display : block;
    padding : 10px;
}

.wrapper {
    padding-top:0;
}
}

#download_table {
    width: 716px;
}

#download_table ul {
    margin-left: 0px;
    padding-left: 5px;
    list-style-type: none;
}

.bab-page-message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}