/*************************************************
    $     Carrousel
*************************************************/

/* % Général ********************************/

.carrousel {
    position : relative;
}

.cantico-slider {
    position : relative;
    padding : 0px 0px;
    
    overflow: hidden;
}

.cantico-slider-window {
    overflow : hidden;
}

.cantico-slider-timer {
  position : absolute;
  height : 3px;
  width : 0;
  background-image : url(../images/noir-transparent-20.png);
  bottom : 0;
  left : 0;
}

.cantico-slider-container {
    position : relative;
    left : 0;
    overflow: hidden;
}

.cantico-slider-element {
    padding : 0 40px;
    
    position:relative;
    float : left;
    
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

.cantico-slider-backward,
.cantico-slider-forward {
    width : 40px;
    
    position : absolute;
    top : 0;
    bottom : 0;
    
    cursor : pointer;
}

.cantico-slider-backward:hover,
.cantico-slider-forward:hover {
    background-image : url(../images/noir-transparent-5.png);
}

.cantico-slider-backward div,
.cantico-slider-forward div {
    margin-top : -20px;
    width : 40px;
    height : 40px;
    
    position : absolute;
    top : 50%;
    
    text-align : center;
    font-weight : bold;
    font-size : 2em;
}

.cantico-slider-backward {
    left : 0;
}

.cantico-slider-forward {
    right : 0;
}

.clear {
    clear : both;
}

