/*************************************************
    $   Général
*************************************************/

label.fixed-width,
.label.fixed-width {
    display:inline-block;
    width:140px;
    
    text-align:right;
}

/*************************************************
    $   Threads
*************************************************/

/* % Liste des sujets ***********************/

.threads.list .forums-list {
    float : left;
}

.threads.list .search {
    text-align : right;
    font-weight : bold;
}

.threads.list ul.messages-legend {
    padding : 0;
    
    list-style-type : none;
    clear : both;
    
    text-align : center;
}

.threads.list ul.messages-legend li {
    display : inline;
    margin : 0 5px;
}

.threads.list p.pages {
    font-weight : bold;
}

.threads.list table {
    width : 100%;

    border-collapse : collapse;
}

.threads.list table p {
    margin : 3px 0;
}

.threads.list table img {
    vertical-align : middle;
}

.threads.list table th,
.threads.list table td {
    padding : 4px;
    
    text-align : center;
}

.threads.list table th {
    font-weight : bold;
}

.threads.list table td.subject {
    text-align : left;
}

.threads.list table td.last-post {
    white-space : nowrap;
}

/* % Création d'un sujet *********************/

.threads.create .note {
    font-weight : bold;
}

/*************************************************
    $   Posts
*************************************************/

.posts .message .infos,
.posts.create .message {
    margin-bottom:10px;
    border-bottom:1px solid #333;
    padding-bottom:10px;
}

.posts .message .more {
    margin-top:10px;
    border-top:1px solid #333;
    padding-top:10px;
}

/* % Listage des messages *******************/

.posts.list .forums-list {
    float : left;
}

.posts.list .search {
    text-align : right;
    font-weight : bold;
}

.posts.list p.pages {
    clear : both;
    
    font-weight : bold;
}

.posts.list .tree-view,
.posts.list .flat-view {
    clear : both;
    
    text-align : right;
}

.posts.list .message .actions {
    text-align:right;
}

.posts.list .message .infos img,
.posts.list .message .actions img {
    vertical-align:baseline;
}

.posts.list .message .files p {
    margin-bottom : 0;
    
    font-weight : bold;
}

.posts.list .message .files ul {
    margin-top : 0;
}

.posts.list table {
    width : 100%;

    border-collapse : collapse;
}

.posts.list table tr {
    height : 21px;
}

.posts.list table th {
    padding : 4px;
    
    font-weight : bold;
    text-align : center;
}

.posts.list table td {
    padding : 0;
    text-align : center;
}

.posts.list table td.author {
    width : 150px;
}

.posts.list table .tree {
    background : none;
}

.posts.list table .tree td {
    padding : 0;
    width : 12px;
    
    text-align:left;
}

.posts.list table .tree td img {
    vertical-align:bottom;
}

.posts.list table .tree td.subject {
    width : auto;
    
    font-weight:bold;
}

.posts.list table .tree td.subject img {
    vertical-align:baseline;
}

.posts.list table .tree td.subject a {
    font-weight : normal;
}

/* % Listage des messages à la suite ********/

.posts.list.flat table tr {
    height : auto;
}

.posts.list.flat table td {
    padding : 4px;
    
    text-align : left;
    vertical-align : top;
}

/* % Création d'un nouveau message **********/

.posts.create .note {
    font-weight : bold;
}
