a:link {
    color: #759ac9;
    text-decoration:none;
}

a:visited {
    color: #759ac9;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color:#759ac9;
}

hr.clear {
    clear:both;
    visibility:hidden;
}

h2.msgerror {
    font-family:Verdana,Arial;
    font-size:1.3em;
    font-weight:bold;
    color:#f00;
    padding-left:40px;
    background:transparent url('../images/puce6.gif') no-repeat 25px 50%;
}

#centercontent {
   padding: 0px;
   margin-left: 0px;
   margin-right: 0px;
   width:100%;
   voice-family: "\"}\"";
   voice-family:inherit;
   width:auto;
   background-color:#FFF;
}

#rightcontent {
    position: absolute;
    right: 0px;
    top: 120px;
    width: 155px;
}

#ovfx_head {
    height:53px;
    background:#D8DBE5 url('../images/head_bg.gif') repeat-x 0 4px;
}

#ovfx_head img {
    margin-top:11px;
    margin-left:8px;
    position: absolute;
}

#ovfx_head img.print {
    display:none;
}

#ovfx_head h1 {
    position: absolute;
    color:#B2BFE8;
    font-family:"Century Gothic",Verdana, Arial;
    background:transparent url('../images/head_bg2.gif') repeat-y 100% 0;
    margin:0;
    top:11px;
    width:100%;
    height:31px;
}

#ovfx_head h1 span {

    display:block;
    padding-left:80px;
    padding-top:10px;
    width:700px;
}

#ovfx_page .bab_content table {
    text-align:left;
}

#ovfx_menu {
    background:transparent url('../images/btn_1.gif') repeat-x 0 0;
    position:absolute;
    top:53px;
    width:100%;
    height:16px;
    left:0px;
    font-size:11px;
}

#ovfx_menu ul {
    margin:0;
    padding:0;
    position:absolute;
    top:0px;
    right:0px;
    height:16px;
    background:#fff url('../images/btn_2.gif') no-repeat 0 0;
    padding-left:5px;
}

#ovfx_menu li {
    display:inline;

}

#ovfx_menu li a {
    float:left;
    display:block;
    background:#fff url('../images/btn_3.gif') repeat-x 0 0;
    height:16px;
    padding-left:9px;
    padding-right:9px;
    padding-top:2px;
    text-decoration:none;
    color:#401034;
    border-right:#4C4C4C 1px dotted;
}

#ovfx_menu li.last a {
    border-right:none;
}

#ovfx_menu li a:hover {
    background-color:#401034;
    color:#fff;
}

#ovfx_menu span {
    display:block;
    position:relative;
    top:1px;
    background:transparent url('../images/puce1.gif') no-repeat 6px 50%;
    padding-left:18px;
}

#ovfx_menu span a {
    color:red;
    text-decoration:none;
    padding:1px 5px;
}

#ovfx_menu span a:hover {
    background-color:#fff;
    padding:1px 4px;
    border-bottom:#fff 1px solid;
    border-top:#4C4C4C 1px solid;
    border-left:#4C4C4C 1px solid;
    border-right:#4C4C4C 1px solid;
}

#maraccueilgeneral p {
    padding-top:0px;
    padding-bottom:0px;
    margin-top:12px;
    margin-bottom:11px;
}

.mar_activite {
    position:relative;
    top:100px;
    left:0px;
    padding-bottom:2px;
    color:#9a8e9d;
}

.mar_activite2 {
    position:relative;
    top:-10px;
    left:0px;
    padding-top:2px;
    color:#9a8e9d;
}

#ovfx_page {
    padding-top:1em;
}

address {
    margin:10% 0 5% 0;
    text-align:center;
    font-size:.9em;
    color:#777;
}

address a:link, address a:visited {
    color:#777;
}

.bab_section {
    margin-bottom:6px;

}

.bab_section .bab_title {

    border-top:#401034 1px solid;
}

.bab_section .bab_title h4 {
    padding-top:2px;
    padding-bottom:1px;
    padding-left:4px;
    margin:0;
    font-family:Verdana, Arial;
    font-size:1em;
    font-weight:normal;
    width:80%;
}

.bab_section .bab_title a:link,
.bab_section .bab_title a:visited {
    position:relative;
    float:right;
    width:12px;
    height:10px;
    background-repeat:no-repeat;
    margin-top:3px;
    margin-right:3px;
    margin-bottom:-9px;
}

.bab_section .bab_title .nolink {
    display:none;
}

.bab_section .bab_title a {
    background-image:url('../images/sec_btn.gif');
    background-position:0px 0px;
}

.bab_section .bab_title a.open {
    background-position:0px -20px;
}

.bab_section .bab_title a.close:hover {
    background-position:0px -10px;
}

.bab_section .bab_title a.open:hover {
    background-position:0px -30px;
}

.bab_section ul {
    padding:0;
    margin:.3em 0 0 0;
    list-style-type:none;
}

.bab_section .bab_content h5 {
    font-weight:normal;
    text-align:center;
    margin:.3em 0;
    font-size:1em;
}

.bab_section table a:link,
.bab_section table a:visited {
    color:#401034;
}

.bab_section table a:hover {
    background-color:#D2EAFF;
    text-decoration:none;
}

.bab_section ul a {
    text-decoration:none;
    display:block;
    padding:1px;
    padding-left:15px;
    padding-top:2px;
    padding-bottom:4px;
    font-weight:bold;
}

.bab_section ul li {
    display:inline;
}

#bab_montha table {
    width:95%;
    padding:0px;
    border-collapse:collapse;
    margin:0 auto;
}

#bab_montha thead td {
    font-weight:bold;
    border-bottom:#ccc 1px solid;
}

#bab_montha td {
    padding:1px;
    text-align:center;
}

.BabCalendarCurrentDayNumberSection {
    border:#ccc 1px solid;
    background-color:#D2EAFF;
}

/* topics sections, left only */

#leftcontent #bab_topicssection .bab_title {
    background-color:transparent;
}

#leftcontent #bab_topicssection .bab_content h5 {
    display:none;
}

#leftcontent #bab_topicssection .bab_content li a {
    background:#401034 url('../images/puce2.gif') no-repeat 95% 50%;
    color:#fff;
    font-weight:bold;
    padding:5px 5px 5px 5px;
    margin-bottom:1px;
}

#leftcontent #bab_topicssection .bab_content li a:hover {
    background:#401034 url('../images/puce3.gif') no-repeat 95% 50%;
    color:#ddd;
}

/* calendar ++ */

.bab_calendar .freeevent {
    color: #000;
    text-shadow: 0 0 2px #fff;
}

/* fileman ++ */

body.fileman#list #centercontent .bab_content a {
    text-decoration:none;
}

body.fileman#list #centercontent .bab_content a:hover {
    color:#f60;
}

/* topic */

#BabCategTitleNavigation {
    margin:.5em .5%;
}

#BabCategTitleNavigation table {
    border-collapse:collapse;
    width:100%;
    height:20px;
}

#BabCategTitleNavigation td {
    border:0;
    padding:0;
    margin:0;
    padding-left:.5em;
}

#BabCategTitleNavigation p {
    padding:.2em .5em;
    margin:3px 4px;
}

#BabCategTitleNavigation a {
    text-decoration:none;
    color:#4A7EBF;
}

#BabCategTitleNavigation a:hover {
    color:#6A9EdF;
}

#BabCategTitleNavigation .bab_buttons a {
    display:block;
    text-align:center;
    width:8em;
    background-color:#D9F1FD;
    padding:.2em .5em;
    border:#4A7EBF 1px solid;
    font-weight : bold;
}

#BabCategTitleNavigation .bab_buttons a:hover {
    background-color:#E9FFFF;
    border:#6A9EdF 1px solid;
}

ul.BabCategTitleNavigation {
    padding: 2.5em;
    margin: 2.5em 15%;
    border: #401034 2px solid;
    background-color:#ffb8e9;
    list-style-type:square;
    color:#FFF;
}

ul.BabCategTitleNavigation li {
    padding-bottom:.5em;
}

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
    text-decoration: none;
    color:#410f34;
    font-size:1.2em;
}

ul.BabCategTitleNavigation li a:hover {
    text-decoration: underline;
}

ul.BabCategTitleNavigation ul {
    font-weight: normal;
    font-style: italic;
    padding-left: 1em;
    margin:0;
    padding:0;
    list-style-type:none;
}

body.page.articles .bab_repeat {
    margin:.5em 0;
}

body.page.articles .bab_buttons .bab_title {
    font-weight:bold;
}

/* PUBLIC CORE CSS */

#bab_calmonth.bab_calendar,
#bab_calweek.bab_calendar,
#bab_calday.bab_calendar {
    background-color: rgba(255,255,255,0.1);
}

#bab_calweek.bab_calendar .day,
#bab_calday.bab_calendar .day {
    background-color: rgba(255,255,255,0.1);
}

#bab_calmonth.bab_calendar tbody td {
    border: 1px solid #000000;
}

#bab_calmonth .HeaderDayCalendar {
    border: 1px solid #777;
    border: none;
}

.BabCalendarBodyBadMonthBackground {
    background-color: rgba(255,255,255,0.1);
}

.BabContentBackground {
     background-color: #fff;
     color:#410f34;
}
.BabMenuActiveBackground {
     background-color: rgba(255, 255, 255, 0.5);
     color:#000;
     text-shadow: none;
}
.BabCalendarMenuActiveBackground {
    color: #eee;
    font-weight: bold;
}

.BabLoginCadreBackground {
    padding: 10px;
    border-collapse: separate;
}

.BabLoginMenuBackground a {
    text-decoration:none;
    font-weight:bold;
}

.BabLoginMenuBackground a:hover {
    text-decoration:underline;
}

.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
    background-color: rgba(255, 255, 255, 0.1);
}

.Babhighlight {
    background-color: #f00;
}

/* background and font error messages  */
.BabErrorMessage {

    color: #f33;
    font-weight: bold;
}

.BabWarningBodyBackground  {

    color: #410f34;
    font-weight: bold;
}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited {
    color: #00c;
    font-weight: bold;
}

.BabWarningBodyBackground a:Hover {
    color: #759ac9;
}

/* admin letterlist users/contacts */
.BabLetterlists {
    color: #410f34;

    font-weight: bold;
}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited {
    color: #009933;
    font-weight: bold;
}

/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link {
    color: #009933;
    font-weight: bold;
}

a.BabEventFaqLink:Hover {
    color: #759ac9;
}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
    color: #0000CC;
}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
    color: #759ac9;
}

/**************** ARTICLES ****************************/
/* titles */
.BabTopicsTitleBackground {
    font-weight: bold;
    padding:.05em .5em;
}
/* font and background articles */

.BabMonthCalendarCurentDayBackground {
    background-color: rgba(255,255,255,0.2) !important;
}

.BabArticleSpacing {
    height: 5px;
}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited {
    color: #4990B1;
    text-decoration: none;
}

a.BabTopicsFooterLink:Hover {
    text-decoration: underline;
}

.BabTopicsAuthorBackground {
    padding:0;
    padding-top:5px;
}

a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited {
    text-decoration: none;
    padding:1px 4px;

    margin-right:1em;
    position:relative;
    font-weight:bold;
}

/********** AGENDA **** CALENDAR ******************************/

.bab_calendar .eventlink {
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 2px #fff, 0 1px 1px #fff;
}

#bab_calmonth.bab_calendar .calendar {
    border: none;
    margin: 4px 0;
}

.BabCalendarBodyBackground,
.Blackbg {
    background-color: #410f34;
}

/*names of the days on top of monthcalendar*/
.BabCalendarDays {
    background-color: #181A91;

    font-weight: bold;
}

.BabMonthCalendarEventHourfont {
    color: #009933;
}

/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground {

    color: #410f34;
    font-weight: bold;
}

/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar {

}

.BabForumBackground1 {
    background-color: rgba(255, 255, 255, 0.05);
}

#content .widget-table-row,
#content .widget-table-row.odd {
    background-color: rgba(255, 255, 255, 0.05);
}
#content .widget-table-row.even {
    background-color: rgba(255, 255, 255, 0.1);
}
#content .widget-table-row > td {
    border: none;
    border-left: 1px solid rgba(255,255,255,0.2)
}
#content .widget-tableview > table {
    border: none;
    border-right: 1px solid rgba(255,255,255,0.2)
}

a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited {
    color: #111166;
    font-weight: bold;
}

a.BabForumNavigation:Hover {
    color: #009933;
}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate,
.BabForumTopicsNavAuthor {
    background-color: #E6E6F7;
    color: #111166;
    font-weight: bold;
}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited {
    color: #4990B1;
    text-decoration: none;
}
a.BabForumTopicsConfirm:Hover
    {
    text-decoration: underline;
}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited {
    color: #410f34;
}
a.BabForumTopicsNavContribution:Hover {
    color: #0000CC;
}

.BabForumTopicsNavTreeBody {

    color: #410f34;
    font-weight: bold;
}

.BabForumTopicsNavTreeLive {

    color:#759ac9;
    font-weight:bold;
}

/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
    font-weight: bold;
}

.BabSiteAdminSmall {
    background-color: #D1D1D9;
    color: #111166;
    font-weight: bold;
}

.BabSiteAdminFont {
    color: #410f34;
}

/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited {
    color: #0000CC;
    font-weight: bold;
}

a.BabFaqLink:Hover {
    color: #759ac9;
}

.BabFaqQuestion {

    color: #0000CC;
    font-weight: bold;
}

/********** ADMINISTRATION THEMES TOPICS **********/

a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited {
    color: #111166;
    font-weight: bold;
}

a.BabTopicsAdminTitleLink:Hover {
    color: #009933;
}

.content .bab_toolbar,
.content .bab_cal_buttons,
.content .widget-toolbar {
    background-color: rgba(255,255,255,0.1);
    border-radius: 4px;
}

.bab_cal_tooltip {
    color: #000;
    font-size: 85%;
}

.bab_tree .line {
    color: #333;
    text-shadow: 0 0 2px #fff;
}

/*************************************************
    $ Stylisation des portlets
*************************************************/

body .portlet-frame {
    position : relative;
    border : none;
}

body .portlets-sortable .portlet-frame {
    border : 1px solid #bbb;
}

body .portlet-toolbar {
    display : none;
}

body .portlets-sortable .portlet-toolbar {
    display : block;
}
