/* Exemples de skins */

.exemplesskins_menu {
    float: left;
    width: 20%;
}

.exemplesskins_menu ul {
    padding : 0;
    border : 1px solid #232F4D;
    
    list-style-type : none;
    background-color : white;
}

.exemplesskins_menu a,
.exemplesskins_menu span {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.exemplesskins_content {
    margin-left: 23%;
    
    position : relative;
}
