/* Styles pour l'arborescence des fichiers */

.arborescencefichiers_lientoutdeployer:link,
.arborescencefichiers_lientoutdeployer:visited {
	outline: none;
	text-decoration: none;
	background: transparent url('images/PuceExpand.gif') no-repeat 0 0px;
	padding-left: 20px;
}

.arborescencefichiers_lientoutdeployer:hover {
	outline: none;
	text-decoration: underline;
	background: transparent url('images/PuceExpand.gif') no-repeat 0 0px;
	padding-left: 20px;
}

.arborescencefichiers_lientout#D27C02uire:link,
.arborescencefichiers_lientout#D27C02uire:visited {
	outline: none;
	text-decoration: none;
	background: transparent url('images/PuceCollapse.gif') no-repeat 0 0px;
	padding-left: 20px;
}

.arborescencefichiers_lientout#D27C02uire:hover {
	outline: none;
	text-decoration: underline;
	background: transparent url('images/PuceCollapse.gif') no-repeat 0 0px;
	padding-left: 20px;
}

.arborescencefichiers_ul {
	list-style: none;
}

.arborescencefichiers_li_repertoire {
	color: green;
	list-style: none;
	margin-bottom: 4px;
}

.arborescencefichiers_li_repertoire span {
	color: green;
	background: transparent url('images/folder.gif') no-repeat 0 -1px;
	padding-left: 20px;
}

.arborescencefichiers_li_fichier {
	color: #D27C02;
	margin-bottom: 4px;
	list-style: none;
}

.arborescencefichiers_li_fichier a:link,
.arborescencefichiers_li_fichier a:visited {
	color: #D27C02;
	text-decoration: none;
	outline: none;
	display: block;
	height: 20px;
	background: transparent url('images/file.gif') no-repeat 0 0;
	padding-top: 3px;
	padding-left: 20px;
}

.arborescencefichiers_li_fichier a:hover {
	color: #D27C02;
	text-decoration: underline;
	outline: none;
}

.arborescencefichiers_contenuplie {
	list-style-image : url('images/greyed_plus.gif');
}

.arborescencefichiers_contenudeplie {
	list-style-image : url('images/greyed_minus.gif');
}
