.exovml_tableau {
    border : 3px solid #232F4D;
    
    border-collapse : collapse;
}

.exovml_tableau td {
    border : 2px solid #232F4D;
    padding : 10px;
}

.exovml_cache {
	display:none;
}

.exovml_visible {
	visibility:visible;
}
